:root {
  --main-bg-color: #1D1626;
  --main-font-color: white;
  --font-family: 'Roboto Mono', monospace;
  --blue: #1DA2C9;
  --blue-light: #81C0B6;
  --purple: #7D2181;
  --purple-dark: #5A2D83;
  --violet: #BD2965;
  --violet-dark: #AD177D;
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-family);
	color: var(--main-font-color);
	background-color: var(--main-bg-color);
}

.section {
	min-height: 100vh;
}


/*hero section*/
.navbar {
	padding-top: 10px;
	margin: auto;
	display: flex;
	justify-content: center;
	max-width: 800px;
}

.navbar img{
	width: 40px;
	height: 40px;
}

.navbar div{
	text-transform: capitalize;
	padding: 0 5px;
	border-right: 2px solid var(--main-font-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
}

.navbar div:last-child{
	border-right: none;
}

/*Banner section*/
.hero {
	background-image: url('images/bg-desktop-01.png');
	background-repeat: no-repeat;
    background-position: center; 
}

.hero-logo {
	padding: 20vh 10px;
	text-align: center;
}

.hero-logo h1 {
	display: none;
}

.hero-logo h2 {
	font-weight: 400;
}

.hero-logo img {
	max-width: 300px;
	width: 100%;
    height: auto;
}

.hero-subtitle {
	text-align: center;
}

/*about section*/
.mission {
	background-image: url('images/bg-desktop-02.png');
	background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.mission-content {
	border-top: 4px solid var(--purple);
	width: 90vw;
	margin: auto;
	padding: 95px 0;
}

.mission-intro {
	text-align: center;
	margin: auto;
	max-width: 360px;
	padding-bottom: 80px;
}

.mission-intro h2{
	text-transform: uppercase;
}

.mission-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*cards colors*/
.mission-card {
	text-align: center;
	max-width: 300px;
	margin: 5px;
	margin-bottom: 10px;
}

.mission-card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
}
.mission-card-header h3{
	margin-top: 10px;
	margin-bottom: 0;
}

.mission-card-content {
	background-color: var(--main-bg-color);
	padding: 5px;
	margin-bottom: 5px;
}

.mission-vr {
	background: linear-gradient(to right, var(--blue), var(--blue-light));
}

.mission-events {
	background: linear-gradient(to right, var(--purple), var(--purple-dark));
}

.mission-consultancy {
	background-color: var(--violet);
}
/*--*/

/*projects section*/
.projects {

}

.projects-content {
	margin: auto;
	border-top: 4px solid var(--blue);
	width: 90vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects-content h2{
	text-align: center;
	width: 100%;
}

.project-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.project-card {
	max-width: 280px;
	margin: 10px;
}

.project-card img{
	width: 100%;
    height: auto;
}

/*clients section*/
.clients {
	background-image: url('images/bg-desktop-04.png');
	background-repeat: no-repeat;
    background-position: center; 
}
.clients-content {
	margin: auto;
	border-top: 4px solid var(--purple-dark);
	width: 90vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.clients-content h2{
	text-align: center;
	width: 100%;
}

.clients-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	max-width: 800px;
}

.client-logo {
	max-width: 200px;
	margin: 10px;
}

.client-logo img{
	width: 100%;
    height: auto;
}

/*contact section*/
.contact-content {
	border-top: 4px solid var(--blue);
	width: 90vw;
	margin: auto;
}

.contact-map {
}

.contact-header {
	min-height: 500px;
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-icons {
	font-size: 2.2rem;
}