:root {
  --main-bg-color: #1D1626;
  --main-font-color: white;
  --font-family: 'Roboto Mono', monospace;
  --blue: #1DA2C9;
  --blue-light: #81C0B6;
  --purple: #7D2181;
  --purple-dark: #5A2D83;
  --violet: #BD2965;
  --violet-dark: #AD177D;
  --black-transparent: rgba(0, 0, 0, 0.4);
  --gray-transparent: rgba(10, 10, 10, 0.4);
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-family);
	color: var(--main-font-color);
	background-color: var(--main-bg-color);
	margin: 0;
}

@media(max-width: 767px) {
  body: {
    margin: 0px;
  }

  .navbar {
    padding: 10px 10px 0 10px;
  }
}

.section {
	min-height: 100vh;
	background-size: cover;
}
.bar {
	background-color: white;
	height: 4px;
	width: 90vw;
	margin: auto;
}


/*hero section*/
.navbar {
	padding-top: 10px;
	margin: auto;
	display: flex;
	justify-content: center;
	max-width: 800px;
}

.navbar img{
	width: 40px;
	height: 40px;
}

.navbar div{
	text-transform: capitalize;
	padding: 0 5px;
	border-right: 2px solid var(--main-font-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
}

.navbar div:last-child{
	border-right: none;
}

.navbar div:hover{
	cursor: pointer;
}

/*Banner section*/
.hero {
	background-image: url('images/bg-desktop-01.png');
	background-repeat: no-repeat;
    background-position: center; 
}

.hero-logo {
	padding: 20vh 10px;
	text-align: center;
}

.hero-logo h1 {
	display: none;
}

.hero-logo h2 {
	text-transform: uppercase;
	font-size: 0.85rem;
	font-weight: 300;
}

.hero-logo img {
	max-width: 170px;
	width: 100%;
    height: auto;
}

.hero-subtitle {
	text-align: center;
}
.hero-subtitle h2 {
	margin: 5px;
}
.hero-subtitle h3 {
	font-weight: 300;
	font-size: 0.8rem;
	margin: 0;
}

#arrow-down {
	padding: 20px;
}
#arrow-down:hover {
	cursor: pointer;
	font-size: 1.5rem;
}

/*about section*/
.mission {
	background-image: url('images/bg-desktop-02.png');
	background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mission-bar {
	background: linear-gradient(to right, var(--violet), rgba(1,1,1,0));
}

.mission-content {
	width: 90vw;
	margin: auto;
	padding: 95px 0;
}

.mission-intro {
	text-align: center;
	margin: auto;
	max-width: 360px;
	padding-bottom: 80px;
}

.mission-intro h2{
	text-transform: uppercase;
}

.mission-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*cards colors*/
.mission-card {
	text-align: center;
	max-width: 220px;
	margin: 5px;
	margin-bottom: 30px;
}

.mission-card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
}

.mission-card-header h3{
	margin-top: 10px;
	margin-bottom: 0;
}

.mission-card-content {
	font-size: 0.9rem;
	padding: 5px;
	min-height: 180px;
	display: flex;
	align-items: center;
}

.mission-card-footer {
	height: 5px;
	color: white;
}

.mission-vr {
	background: linear-gradient(to right, var(--blue), var(--blue-light));
}

.mission-events {
	background: linear-gradient(to right, var(--purple), var(--purple-dark));
}

.mission-consultancy {
	background-color: var(--violet);
}
/*--*/

/*projects section*/
.projects {
	background-image: url('images/bg-desktop-03.png');
	background-repeat: no-repeat;
    background-position: center;
}

.projects-bar {
	background: linear-gradient(to right, var(--purple), rgba(1,1,1,0));
}

.projects-content {
	padding: 60px 0;
	margin: auto;
	width: 90vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects-header{
	text-align: center;
	max-width: 700px;
}

.projects-header h2{
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding-top: 0;
	margin: 0;
	padding-bottom: 40px;
}

.project-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	max-width: 1300px;
}

.project-card {
	max-width: 256px;
	margin: 10px;
}

.project-card img{
	width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.project-card img:hover {
	filter: grayscale(0%);
}

/*clients section*/
.clients {
	background-image: url('images/bg-desktop-04.png');
	background-repeat: no-repeat;
    background-position: center; 
}

.clients-bar {
	background: linear-gradient(to right, var(--blue), rgba(1,1,1,0));
}

.clients-header h2{
	text-transform: uppercase;
}

.clients-content {
	margin: auto;
	width: 90vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.clients-content h2{
	text-align: center;
	width: 100%;
}

.clients-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	max-width: 800px;
}

.client-logo {
	max-width: 200px;
	margin: 10px;
}

.client-logo img{
	width: 100%;
    height: auto;
}

/*contact section*/
.contact-bar {
	background: linear-gradient(to right, gray, rgba(1,1,1,0));
}

.contact-content {
	width: 100%;
	margin: auto;
}

#btn-contact-form {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--black-transparent);
	padding: 5px 30px;
}

#btn-contact-form:hover {
	background-color: black;
	cursor: pointer;
}

.contact-map {
}

.contact-header {
	min-height: 500px;
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-header h2{
	text-transform: uppercase;
}
.contact-header p{
	padding: 0 20px;
}

.contact-email {
	padding: 25px 0;
	font-size: 1.3rem;
}

.social-icons {
	font-size: 2.2rem;
}

.social-icons a {
	color: white;
}

/*footer section*/
.footer {
	text-align: center;
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer{
	padding: 60px;
}

.footer img{
	padding: 0;
	height: 30px;
}

.footer p{
	font-size: 0.75rem;
	margin: 0;
}

/*contact form page*/

.contact-form {
	min-height: 85vh;
	max-width: 500px;
	padding: 0 10px;
	margin: auto;
}
.contact-form input, textarea {
	border: none;
	margin-top: 10px;
	margin-right: 10px;
	background-color: var(--gray-transparent);
	color: white;
	padding: 3px 7px;
}

.contact-form .form-title {
	padding-bottom: 40px;
}

.contact-form .form-field {
	padding-bottom: 30px;
}

.contact-form .input-wide {
	/*must NOT be set to 100% because
	it goes out of div*/
	width: 95%;
} 

/*thanks page*/

.contact-thanks {
	min-height: 85vh;
	margin: auto;
	text-align: center;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thanks-logo {
	padding: 0 10px;
}

.thanks-logo img{
	max-width: 170px;
	width: 100%;
    height: auto;
}

.contact-thanks h3 {
	text-transform: uppercase;
}

.back {
	padding-top: 40px;
	text-decoration: none;
	color: white;
}

.back:hover {
	font-weight: bold;
}
